<div class="container">

  <div class="row">
    <div *ngFor="let urun of urunler" class="col-md-4">
      <h3 class="pt-3">{{urun.name}}</h3>
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="{{urun.image}}" style="height:225px; width:100%" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">{{urun.description}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" routerLink="./{{urun.id}}" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="submit" (click)="delete(urun.id); reload()" class="btn btn-sm btn-outline-secondary">Delete</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



